body, html{
	margin: 0;
	padding: 0;
	background-color:  #E5E5E5;;
}


.header_liner{
	background: #293284;
	border: 1px solid #293284;
	box-sizing: border-box;
	height: 68px;
	position: relative;
	font-family: MPLUS1p-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	}

.header_liner p{
	text-align: center;
	margin: 0;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);

}

.menu ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.menu li {

	display: inline;
}

.menu a{

	text-decoration: none;
}

.btn-menu {
	font-family: Mplus 1p;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: black;
	text-decoration: none;
	user-select: none;
	background: white;
	padding: .7em 1.5em;
	outline: none;
	border-radius: 20px;
	border: 1px solid #000000
} 
.btn-menu:hover { background: rgb(232,95,76); }
.btn-menu:active { background: rgb(152,15,0); }